/**  1st Header **/

.ast-mobile-header-wrap .ast-above-header-bar, .ast-above-header-bar .site-above-header-wrap {
    min-height: 1rem;
}
.ast-above-header.ast-above-header-bar {
    background-color: var(--top-header-background-color);
    border-bottom: solid 0rem var(--primary-orange);
}

.ast-above-header.ast-above-header-bar .ast-builder-grid-row {
    padding-bottom: .5rem;
    p { 
        font-size: .95rem;  
        color: var(--primary-white);
    }

    a { color: var(--primary-white); }
}
