/****

  Wp-Block Additions

**************/

.wp-block-columns, .wp-block-column {
    margin: 0rem 0;
    padding: 0rem 0;
}

.wp-block-cover  { 

  margin: 0;
  margin-bottom: 4rem;
  padding: 4rem 0;
}
