/****

  Wp-Block Additions

**************/

.wp-block-columns, .wp-block-column {
    margin: 0rem 0;
    padding: 0rem 0;
}

.wp-block-cover  { 

  margin: 0;
  margin-bottom: 4rem;
  padding: 4rem 0;

  p { font-family: var(--secondary-font);}

  
}

 .add-padding  {   padding: 0 0rem; } 



.slide-content p { font-family: var(--secondary-font);}

.block-gradient { 
  margin: .5rem 0;
  padding: 5rem 0 0 0;
  background: linear-gradient(25deg, var(--primary-light-purple), var(--primary-white), var(--primary-light-purple));
  align-self: stretch;
}