/****

  Icons


**************/
.dashicons.front-icon {
    margin: 1rem auto;
    font-size: 6rem;
    width: 6rem;
    height: 6rem;

    color: var(--primary-purple);

}


.fas, .far {
    color: var(--primary-color);
    margin: .5rem  auto;
}
