/****

  Padding


**************/

.text-padding {
    padding: 1rem;
    -webkit-box-shadow: 9px 10px 15px -2px #000000; 
    box-shadow: 9px 10px 15px -2px #000000;
}

.column-padding {
  padding: 2rem;
}