/****

    Moble Settings 

******************/

@media screen and (max-width:767px) {

    #content.site-content {                                     
        background-position: center right; 
    } 

    p.contain-width {
        padding: 0 1rem 0rem 1rem;
   }

    .hide-column { display: none; }

    .hide-in-mobile { 
        display: none;
    }
    
    h1 {
        font-size: calc(var(--h1-font-size) * .65)!important;
    }

    .entry-content h1 {
        font-size: calc(var(--h1-font-size) * .5)!important;
    }
    .entry-content {
        padding: 0 .75rem;
        p { padding: 0 .25rem; }
    }
    .front-header {
        padding: 1rem;
    }
   
    .wp-block-columns {
      padding: 1rem 0rem;
      
        .wp-block-column {
            margin: 0rem 0;
            padding: 1rem 1rem;
       }
    }

    .wp-block-columns.has-background {
        padding: 1.25em 0rem; 
   }

   .ast-container, .ast-container-fluid {
       margin-left: auto;
       margin-right: auto;
       padding-left: 0px;
       padding-right: 0px;
   }
   .wp-block-group .wp-block-group {
       padding: 0;
   }

  
   .footer-widget-area {
       margin: 1rem 0;
       padding: 1rem;
       border-top: 1px solid var(--primary-white);
   }

   .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    box-sizing: border-box;
    }
 
    .ast-woocommerce-container { padding: 0 1rem!important; }

    .wc-block-grid__product {
        flex-basis: 100% !important;
        max-width: none !important;
    }
 }