/****

    Moble Settings 

******************/

@media screen and (max-width:767px) {

    #content.site-content {                                     
        background-position: center right; 
    } 


   
    .hide-column {
        display: none;
    }

    .hide-in-mobile { 
        display: none;
    }
    
    h1 {
        font-size: calc(var(--h1-font-size) * .65)!important;
    }

    .entry-content h1 {
        font-size: calc(var(--h1-font-size) * .5)!important;
    }
    .entry-content {
        padding: 0 .75rem;
        p { padding: 0 .25rem; }
    }
    .front-header {
        padding: 1rem;
    }
   
    .wp-block-columns, .wp-block-column {
        margin: 0rem 0;
        padding: 1rem 1rem;
    }

    .wp-block-columns.has-background {
        padding: 1.25em 0rem; 
   }

   .ast-container, .ast-container-fluid {
       margin-left: auto;
       margin-right: auto;
       padding-left: 0px;
       padding-right: 0px;
   }
   .wp-block-group .wp-block-group {
       padding: 0;
   }

   .section {
       margin: 5% 0%;
       padding: 0 1rem;
   }
  
   .footer-widget-area {
       margin: 1rem 0;
       padding: 1rem;
       border-top: 1px solid var(--primary-white);
   }
  
 }